<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.web.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.trip.model.entity.Book">
            <id property="id" column="id" />
            <result property="tripId" column="trip_id" />
            <result property="name" column="name" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,trip_id,user_id,name,create_time,update_time,
        is_deleted
    </sql>


    <select id="getAccountBookByUserId" resultType="com.trip.model.dto.AccountBookDetailDTO">
        select distinct book.id as bookId,
                        book.name,
                        book.trip_id as tripId,
                        COALESCE(income_summary.total_amount, 0) as totalAmount,
                        1 as type
        from book
                 join book_user on book.id = book_user.book_id
                 left join (
                     select book_id, SUM(amount) as total_amount
                     from account_book_record
                     where is_deleted = 0 and type = 1
                     group by book_id
                 ) income_summary on book.id = income_summary.book_id
        where book.is_deleted = 0
          and book_user.is_deleted = 0
          and book_user.user_id = #{userId}
        
        union all
        
        select distinct book.id as bookId,
                        book.name,
                        book.trip_id as tripId,
                        COALESCE(expense_summary.total_amount, 0) as totalAmount,
                        2 as type
        from book
                 join book_user on book.id = book_user.book_id
                 left join (
                     select book_id, SUM(amount) as total_amount
                     from account_book_record
                     where is_deleted = 0 and type = 2
                     group by book_id
                 ) expense_summary on book.id = expense_summary.book_id
        where book.is_deleted = 0
          and book_user.is_deleted = 0
          and book_user.user_id = #{userId}
        
        order by bookId, type
    </select>
</mapper>
