<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.web.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.trip.model.entity.Comment">
            <id property="id" column="id" />
            <result property="postId" column="post_id" />
            <result property="userId" column="user_id" />
            <result property="content" column="content" />
            <result property="parentId" column="parent_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,user_id,content,parent_id,create_time,
        update_time,is_deleted
    </sql>

    <select id="countByPostIds" resultType="java.util.Map">
        SELECT
        post_id AS postId,
        COUNT(*) AS count
        FROM comment
        WHERE is_deleted = 0
        AND post_id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        GROUP BY post_id
    </select>
</mapper>
