<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.web.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.trip.model.entity.Comment">
            <id property="id" column="id" />
            <result property="postId" column="post_id" />
            <result property="userId" column="user_id" />
            <result property="content" column="content" />
            <result property="parentId" column="parent_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,user_id,content,parent_id,create_time,
        update_time,is_deleted
    </sql>

    <resultMap id="PostCountMap" type="com.trip.model.dto.CommentCountDTO">
        <id column="postId" property="postId" javaType="java.lang.Long"/>
        <result column="count" property="commentCount" javaType="java.lang.Integer"/>
    </resultMap>
    <select id="countByPostIds" resultMap="PostCountMap">
        SELECT
        post_id AS postId,
        COUNT(*) AS count
        FROM comment
        WHERE is_deleted = 0
        AND post_id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        GROUP BY post_id
    </select>

    <resultMap id="getCommentsByPostIdMap" type="com.trip.model.vo.CommentVO">
        <id property="commentId" column="commentId"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="parentId" column="parent_id"/>

        <association property="user" javaType="com.trip.model.vo.AuthorVO">
            <result property="userId" column="userId"/>
            <result property="nickname" column="nickname"/>
            <result property="username" column="username"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>
    <select id="getCommentsByPostId" resultMap="getCommentsByPostIdMap">
        SELECT 
            c.id as commentId,
            c.user_id as userId,
            u.nickname as nickname,
            u.username as username,
            COALESCE(gi.url, '') as avatar,
            c.content as content,
            c.create_time,
            c.parent_id
        FROM comment c
        INNER JOIN user u ON c.user_id = u.id AND u.is_deleted = 0
        LEFT JOIN graph_info gi ON c.user_id = gi.item_id AND gi.item_type = 1 AND gi.is_deleted = 0
        WHERE c.post_id = #{postId} 
          AND c.is_deleted = 0
        ORDER BY c.create_time ASC
    </select>

    <select id="getChildCommentIds" resultType="java.lang.Long">
        select id
        from comment
        where parent_id = #{commentId}
    </select>
</mapper>
