<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.web.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.trip.model.entity.Comment">
            <id property="id" column="id" />
            <result property="postId" column="post_id" />
            <result property="userId" column="user_id" />
            <result property="content" column="content" />
            <result property="parentId" column="parent_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,user_id,content,parent_id,create_time,
        update_time,is_deleted
    </sql>

    <select id="countByPostIds" resultType="java.util.Map">
        SELECT
        post_id AS postId,
        COUNT(*) AS count
        FROM comment
        WHERE is_deleted = 0
        AND post_id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        GROUP BY post_id
    </select>

    <resultMap id="getCommentsByPostIdMap" type="com.trip.model.vo.CommentVO">
        <id property="commentId" column="commentId"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="parentId" column="parent_id"/>

        <association property="user" javaType="com.trip.model.vo.AuthorVO">
            <result property="userId" column="userId"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>
    <select id="getCommentsByPostId" resultMap="getCommentsByPostIdMap">
        select comment.id      as commentId,
               comment.user_id as userId,
               user.nickname   as nickname,
               graph_info.url  as avatar,
               comment.content as content,
               comment.create_time,
               comment.parent_id
        from comment
                 join graph_info on comment.user_id = graph_info.item_id and graph_info.item_type = 1
                 join user on comment.user_id = user.id
    </select>

    <select id="getChildCommentIds" resultType="java.lang.Long">
        select id
        from comment
        where parent_id = #{commentId}
    </select>
</mapper>
